body{
    font-family: 'Montserrat', sans-serif;
}

.sidebar{
    background-color: #008db1;;
}

.sidebar-dark .nav-item .nav-link{
    color:#fff;
}

.logo img{
    object-fit: contain;
    height: 35%;
    width:35%;
    
}

.logo{
    padding: 1%;;
}

.navbar{
    background-color: #bdeeff;
}

.form-horizontal .control-label{
    float:left;
    width:160px;
    padding-top:0;
    text-align:left
}

.form-horizontal label{
    float:left;
    width:160px;
    padding-top:0;
    text-align:left
}

.form-horizontal .controls{
    margin-left:0
}

.form-horizontal .control-list{
    padding-top:0
}

.form-horizontal .form-actions{
    padding-right:10px;
    padding-left:10px
}

.form-horizontal input{
    border:#008db1 1px solid;
    color: #707288;
    margin: 0 0 1em 0;
    border-radius: 4px;
}

.form-horizontal select{
    border:#008db1 1px solid;
    color: #707288;
    margin: 0 0 1em 0;
    border-radius: 4px;
    background-color: #fff;;
}

.form-horizontal .btn-primary{
    background-color: #008db1;
    color:#fff;
}

.guide{
    background-color: #f8f9fc;
    color:#000;
    margin: 1px 3px;
    padding:2em;
    line-height: 1.5em;
}

