body{
    background-color: rgba(247, 216, 0,0.3);
}

#side_page{
    background-color: #F7F100;
    color:#474747;
}

#side_blog{
    background-color: #F7D800;
    color:#474747;
}

#side_blog a{
    color:#474747;
}

#side_blog a:visited{
    color:#474747;
}

#side_blog a:hover{
    color:#474747;
    text-decoration: underline;
}

#nav{
    background-color: #F7D800;
}

.dropotron{
    background-color: #F7D800;
}

.dropotron > li > a{
    color:#fff;
}

#nav > ul > li a{
    color:#fff;
}

#titleBar{
    background-color: #F7D800;
}

#navPanel{
    background-color: #F7D800;
}

.blog.index{
    background-color: #FFE52E;
    color:#fff;
}

.blog.index a{
    color:#fff;
    text-decoration: underline;
}

.blog.index a:visited{
    color:#fff;
    text-decoration: underline;
}

.blog.index a:hover{
    color:#fff;
    text-decoration: none;
}

.block2.index{
    background-color: #F7F100;
    color:#474747;
}

.block3.index{
    background-color: #F7D800;
    color:#474747;
}
