.block{
    min-height:100% !important;
    float:left;
    border-radius:5px;
    padding:0.5em;
}

.block-row{
    clear:both;
    height:auto;
}

#side_page{
    margin:1em;
    padding:1em;
    border-radius:5px;
    background-color: #fff;
}