
/*=============================
	INDEX BLOCK PROPERTY
=============================*/

.block1{
	width:100%;
	margin: 1% auto;
}


.block2{
	width:49%;
	margin: 1% 1% 1% 0;
}

.block3{
	width:49%;
	margin: 1% 0 1% 1%;
}

.block4{
	width:32%;
	margin: 1% 1% 1% 0;
}

.block5{
	width:32%;
	margin: 1%;
}

.block6{
	width:32%;
	margin: 1% 0 1% 1%;
}

/*=============================
	MEDIA QUERIES
=============================*/

@media (max-width:767px){

	.block{
        width:100%;
	    margin: 1% auto;
    }


}
