
/*=============================
	INDEX BLOCK PROPERTY
=============================*/

.block1{
	width:100%;
	margin: 1% auto;
}


.block2{
	width:49%;
	margin: 1% 1% 1% 0;
}

.block3{
	width:49%;
	margin: 1% 0 1% 1%;
}

.block4{
	width:32%;
	margin: 1% 1% 1% 0;
}

.block5{
	width:32%;
	margin: 1%;
}

.block6{
	width:32%;
	margin: 1% 0 1% 1%;
}


.container {
	max-width: 960px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }
/*=============================
	MEDIA QUERIES
=============================*/

@media (max-width:767px){

	.block{
        width:100%;
	    margin: 1% auto;
    }


}
