@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
	margin:0;
}

.clearfix{
	clear:both;
}

body{
	margin:0;
	padding:0;
    font-size:1.2em;
    background-color:#68b8ff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

/*=============================
    GENERIC LAYOUT
=============================*/

#siteContainer{
    height: auto;
    width: 80%;
    margin:0 auto;
}

#topContainer{
    height: auto;
    width: 100%;
    margin:0 auto;
}

#bottomContainer{
    height: auto;
    width: 100%;
    margin:0 auto;
}

header{
    height: 4em;
    width: 100%;
    margin:0 auto;
    padding:0.5em;
    background-color:#68b8ff;
}

#logo{
    height: 100%;
    width:20%;
    padding: 0 1%;
    float: left;
}

#menu{
    height: 100%;
    float: left;
    width:80%;  
    text-align:right;
}

#visual{
    height: 12em;
    width: 100%;
    margin:0 auto;
    border-radius: 1em 1em 0 0;
    overflow: hidden; 
    background-image: url(../img/visual.jpg);
    background-size: cover;
	background-position: center;
}

#content{
    height: auto;
    width: 100%;
    margin:0 auto;
    padding:1em;
    background-color:#d8e9ff;
}


footer{
    height: auto;
    width: 100%;
    margin:0 auto;
    padding:1em;
    text-align: center;
    border-radius:0 0 1em 1em;
    background: rgb(0,141,177);
    background: linear-gradient(0deg, rgba(0,141,177,1) 0%, rgba(216,233,255,1) 100%);
}



#adminBar{
    height:1.8em;
	width:100%;
	background-color:#008db1;
	position:fixed;
	top:0;
	z-index:1000;
	padding: 0.2em 3em;
	text-align: right;
}


/*=============================
HEADER
=============================*/

#logo img{
    height:100%;
    margin:0 auto;
}


/*=============================
BLOG LAYOUT
=============================*/

#blog{
    height:auto;
    width:70%;
    padding: 2%;
    float:left;
}

#sidebar{
    height:auto;
    width:30%;
    padding: 2%;
    float:left;
}

#sidebar_menu{
    height: auto;
    width:100%;
    padding:6%;
    background-color: #008db1;
    color:#fff;
    border-radius:0.5em;
}

#sidebar_menu li{
    margin-bottom: 0.8em;
}

.blog_content{
    border-bottom: 1px solid #000;
    padding:1em 0;
}


/*=============================
GENERIC BLOCK PROPERTY
=============================*/

.block{
    border-radius:0.5em;
    padding:2%;
    height: auto;
	float: left;
}

/*=============================
FONTS PROPERTY
=============================*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Baloo Tammudu 2', cursive;
}

#adminBar a{
    color:#fff;
}

#adminBar a:visited{
    color:#fff;
}

#adminBar a:hover{
    color:#e2f9ff;
}

footer a{
    color:#fff;
}

footer a:visited{
    color:#fff;
}

footer a:hover{
    color:#fff;
    text-decoration: underline;
}

p.metainfo{
    margin-left:1em;
    font-size:0.8em;
}

#sidebar_menu li a{
    color:#fff;
}

#sidebar_menu li a:visited{
    color:#fff;
}

#sidebar_menu li a:hover{
    color:#fff;
    text-decoration: underline;
}



/*=============================
BURGER MENU
=============================*/

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
}

#menuBurger{
    width:90%;
	height: 250px;
	margin: 0px auto;
	background-color:#008db1;
	position: relative;
	top:0.5em;    
	z-index:9;
	transition: height 1s;
	overflow: auto;
}

#menuBurger.closed{
	height: 0;
}

#menuBurger ul{
	text-align: center;
}

#menuBurger li{
	list-style-type:none;
	font-size:1.5em;
	margin: 1em 0;
}

#menuBurger a{
	color:#fff;
	text-decoration:none;
}

#menuBurger a:visited{
	color:#fff;
	text-decoration:none;
}

#menuBurger a:hover{
	color:#fff;
	text-decoration:underline;
}
/*=============================
	MEDIA QUERIES
=============================*/

@media (max-width:767px){

    #siteContainer{
        width: 95%;;
    }

    header{
        padding: 4%;
        height: 6em;
    }
    .block{
        padding: 4%;
    }

	
}


