@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
	margin:0;
}

.clearfix{
	clear:both;
}

body{
	margin:0;
	padding:0;
    font-size:1.2em;
}

/*=============================
    GENERIC LAYOUT
=============================*/

#siteContainer{
    height: auto;
    width: 90%;
    margin:0 auto;
    background-color: aqua;
}

#topContainer{
    height: auto;
    width: 100%;
    margin:0 auto;
    background-color:burlywood;
}

#bottomContainer{
    height: auto;
    width: 100%;
    margin:0 auto;
    background-color:cornflowerblue;
}

header{
    height: 4em;
    width: 100%;
    margin:0 auto;
    padding:0.5em;
    background-color:brown;
}

#logo{
    height: 100%;
    width:20%;
    float: left;
    background-color:darkorange;
}

#menu{
    height: 100%;
    float: left;
    width:80%;  
    text-align:right;
}

#visual{
    height: 12em;
    width: 100%;
    margin:0 auto;
    padding:1em;
    background-color:darkorange;
}

#content{
    height: auto;
    width: 100%;
    margin:0 auto;
    padding:1em;
    background-color:burlywood;
}

footer{
    height: auto;
    width: 100%;
    margin:0 auto;
    padding:1em;
    background-color:darkcyan;
}

#adminBar{
	height:1.5em;
	width:100%;
	background-color:#008db1;
	position:fixed;
	top:0;
	z-index:1000;
	padding: 0 3em;
	text-align: right;
}

#adminBar a{
	color:#fff;
}

#adminBar a:visited{
	color:#fff;
}

#adminBar a:hover{
	color:#e2f9ff;
}

/*=============================
    BLOG LAYOUT
=============================*/

/*=============================
    GENERIC BLOCK PROPERTY
=============================*/

.block{
    border-radius:0.5em;
    padding:2%;
    height: auto;
	float: left;
}

/*=============================
    BURGER MENU
=============================*/



.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	background-color: #fff;
}

#menuBurger{
	width:100%;
	height: auto;
	margin: 0px auto;
	background-color:#044DB4;
	position: relative;
	top:0.5em;    
	z-index:9;
	transition: height 1s;
	overflow: hidden;
}

#menuBurger.closed{
	height: 0;
}

#menuBurger ul{
	text-align: center;
}

#menuBurger li{
	list-style-type:none;
	font-size:1.5em;
	margin: 1em 0;
}

#menuBurger a{
	color:#fff;
	text-decoration:none;
}

#menuBurger a:visited{
	color:#fff;
	text-decoration:none;
}

#menuBurger a:hover{
	color:#fff;
	text-decoration:underline;
}
/*=============================
	MEDIA QUERIES
=============================*/

@media (max-width:767px){
    header{
        padding: 4%;
        height: 6em;
    }
    .block{
        padding: 4%;
    }

	
}


