body{
	padding-top:0;
}

#adminBar{
    height:2em;
	width:100%;
	background-color:#008db1;
	position:fixed;
	top:0;
	z-index:1000;
	padding: 0em 3em;
	text-align: right;
}

#adminBar a{
    color:#fff;
}

#adminBar a:visited{
    color:#fff;
}

#adminBar a:hover{
    color:#e2f9ff;
}

.block{
    border-radius:0.5em;
    padding:2%;
    height: auto;
	float: left;
}

.block img{
	width:100%;
	height:100%;
	object-fit: scale-down;
}

#nav > ul:before, #nav > ul:after {
	border:0;
}

#nav > ul{
	border:0;
	color:#444;
}

#nav{
	padding:1em;
}

#logo{
	display: inline-block;
  	height: 100%;
  	width: 20%;
  	padding: 0 1%;
	float: left;
}

#logo img{
	height:100px;
}

#nav{
	position: absolute;
	text-align: right;
    right: 0;
    top: 0;
    font-size: 1.2em;
    font-family: 'Baloo Tammudu 2', cursive;
}

#header{
	padding:0;
}

#header_text{
	position:absolute;
	top:40%;
	left:20%;
	width:100%;
}

#header_text h2, #header_text p{
	text-align:center;
}

#topContainer{
	padding-top:1em;
}

#bottomContainer{
	position: absolute;
	top:80%;
	width: 100%;;
}

footer{
	bottom:0;
}

#banner-wrapper{
	z-index: -1;
	position: absolute;
	top:0;
	width:100%;
	margin:0;
	padding: 0;
	height:80%;
}

#banner{
	height:100%;
}

.container{
	width:100% !important;
}

#content{
	padding:1em;
}

/*=============================
	INDEX BLOCK PROPERTY
=============================*/

#banner{
	overflow: hidden; 
    background-size: cover;
	background-position: center;
	color:#fff;
	padding:3em;
}

#banner h2{
	color:#fff;
}
#copyright{
	padding:0em;
}
.copyright{
	text-align: center;
}

p.metainfo{
    margin-left:1em;
    font-size:0.8em;
	margin-bottom:0;
}

#blog h1{
	font-size:1.5em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Baloo Tammudu 2', cursive;
}

#sidebar_menu h2 strong{
	color:#fff;
}

.card.login{
	width:50% !important;
	border:none;
}

.box{
	background-color:#f7f7f7;
}

.img_portfolio img{
	max-width:100%;
}

img.gallery{
	max-width:100%;
}

.img_blog{
	padding: 1em;
}

.img_blog img{
	width:100%;
	height:100%;
	object-fit: contain;	
}

.button{
	font-size:1em;
}

.button.inactive{
	background-color: transparent;
	color:#0090c5;
}

.button.active{
	background-color:#0090c5;
}

.project_data{
	background-color:#f7f7f7;
	border-radius:1em;
}

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }

  form label {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
    font-size: 1em;
    color: #444;
}
/*=============================
	MEDIA QUERIES
=============================*/

@media (max-width:980px){

	#sidebar{
        display: none;
    }

	#blog{
		width:100%;
	}

	#siteContainer{
		width:98%;
	}

	#logo{
		float:none;
	}

	header{
		margin-bottom: 4em;
	}

}

@media (max-width:767px){

	.block{
        width:100%;
	    margin: 1% auto;
    }

	.card.login{
		width:75% !important;
	}

}

@media (max-width:400px){


	.card.login{
		width:90% !important;
	}

}
